modules = ["python-3.12", "bash", "nix"]
run = "flask run -h 0.0.0.0 -p 8080 --reload"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "flask run -h 0.0.0.0 -p 8080 --reload"]
deploymentTarget = "cloudrun"
